:root {
  --color-first: #f25a70;
  --color-second: #7c5e99;
  --color-third: #fff;
  --color-black-first: #000;
  --color-black-second: #3a4042;
}

* {
  font-family: "Press Start 2P";
}

body {
  font-family: "Press Start 2P";
  background-color: var(--color-black-second);
}
