.main-input {
  display: block;
  margin: 15px auto 20px auto;
  width: 420px;
  height: 50px;
  border-radius: none;
  border: 4px solid var(--color-black-first);
  box-shadow: 4px 4px 0px var(--color-black-first);
  text-align: center;
  font-size: 15px;
  padding: 0 10px;
  box-sizing: border-box;
  transition: transform 170ms ease-in-out;
}

.main-input:last-of-type {
  margin-bottom: 40px;
}

input:hover {
  transform: scale(1.03)
}

#response-input {
  width: 300px;
  margin: 0px 10px 0px auto;
}
