.main-title {
  text-shadow: 4px 4px 0px var(--color-black-first);
  text-align: center;
  font-size: 50px;
  font-family: "Press Start 2P";
  margin-top: 50px;
  margin-bottom: 40px;
  transition: transform 100ms ease-in-out;
}

.main-title a{
  text-decoration: none;
  color: var(--color-first);
}

.main-title:hover {
  transform: scale(1.01);
}