.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2px;
}

.main-footer .logo {
  margin-bottom: 5px;
}

.main-footer .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-third); 
  font-size: 30px;
}

.main-footer .title img {
  margin-right: 9px;
}