.div-quiz {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.div-html-css-js {
  text-align: center;
  margin-top: 30px;
}

.div-html-css-js button {
  width: 140px;
  height: 55px;
}

