.main-button-div {
  text-align: center;
  margin-top: 30px;
}

.main-button-div button {
  width: 140px;
  height: 55px;
}

.main-button {
  padding: 10px;
  box-shadow: 4px 4px 0px var(--color-black-first);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 0;
  background-color: var(--color-second);
  font-size: 20px;
  transition: transform 170ms ease-in-out;
}

.main-button:hover {
  transform: scale(1.03);
}

#response-button {
  background-color: var(--color-first);
  color: #ffa4a4;
  margin: 0px auto 0px 0px;
  width: 110px;
  height: 50px;
  font-size: 10px;
}

#html {
  background-color: red;
  color: #ffa4a4;
}

#css {
  background-color: blue;
  color: #b8b8ff;
}

#js {
  background-color: yellow;
  color: #8f8f00;
}

#navegar {
  display: block;
  margin: 0 auto;
  width: 440px;
  height: 55px;
  margin-top: 10px;
  color: #edd9ff;
}
