.wrapper-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 200ms transform ease-in-out;
}

.wrapper-banner .main-banner {
  margin-bottom: 10px;
}

.wrapper-banner:hover {
  transform: scale(1.1);
  transition: 400ms transform cubic-bezier(0.49, -0.01, 0.49, 1.79);
}

.wrapper-banner .main-caption {
  width: 186px;
  text-align: center;
}
